{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Silvia Kormosi</title>
  <link rel="icon" type="image/x-icon" href="favicon.png">
  <!-- TODO tieto dole treba vyplniť? -->
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'eshop/css/style.css' %}">
</head>

<body>

<header>
  <div class="header-container">
    <a href="{% url 'home' %}" class="logo">Silvia Kormosi</a>

    <!--        <div class="lang-switch">-->
    <!--            <a id="sk" onclick="setLang('sk')">SK</a> |-->
    <!--            <a id="en" onclick="setLang('en')">EN</a>-->
    <!--        </div>-->
    
    <div>
      <img src="{% static 'eshop/images/cart.svg' %}" alt="Cart" class="cart">
      <a href="{% url 'cart' %}" id="cart-link">
        <span id="cart-count">0</span>
      </a>
    </div>
    
  </div>
</header>

<div class="container">
{% block content %}
{% endblock content %}
</div>

</body>

<script src="https://widget.packeta.com/www/js/library.js"></script>
  
<script>
  // Cart stuff
  const cartKey = "cart";

  function getCart() {
    return JSON.parse(localStorage.getItem(cartKey) || "{}");
  }

  function saveCart(cart) {
    localStorage.setItem(cartKey, JSON.stringify(cart));
  }

  function updateCartAppearance() {
    const cart = getCart();
    const count = Object.values(cart).reduce(
            (sum, quantity) => sum + quantity,
            0
    );
    document.getElementById("cart-count").textContent = count;
  }

  updateCartAppearance();

</script>

{% block scripts %}
{% endblock %}


<!--TODO zmazať?-->
<div class="packeta-selector-value"></div>
<script src="script.js"></script>


</html>
