{% extends 'eshop/base.html' %}
{% load static %}
{% block content %}

<div class="articles">
    <h1>Your cart</h1>
    <div id="cart"></div>

    {% if messages %}
    {% for message in messages %}
    <p class="error">{{ message }}</p>
    {% endfor %}
    {% endif %}

    <p id="pickup-point-error" class="error" hidden>
        Please select a pick-up point.
    </p>

    <button type="button" class="packeta-selector-open">Select pick-up point</button>

    <div id="packeta-selector-value"></div>
    
    <form id="checkout-form" action="{% url 'checkout' %}" method="post">
        {% csrf_token %}

        <h2>Billing information</h2>

<!--        <label>-->
<!--            First name-->
<!--            <input type="text" name="first_name" required autocomplete="given-name">-->
<!--        </label>-->

<!--        <label>-->
<!--            Last name-->
<!--            <input type="text" name="last_name" required autocomplete="family-name">-->
<!--        </label>-->

        <label>
            Email
            <input type="email" name="email" required autocomplete="email">
        </label>

<!--        <label>-->
<!--            Phone-->
<!--            <input type="tel" name="phone" autocomplete="tel">-->
<!--        </label>-->

<!--        <label>-->
<!--            Address-->
<!--            <input type="text" name="address" required autocomplete="street-address">-->
<!--        </label>-->

<!--        <label>-->
<!--            City-->
<!--            <input type="text" name="city" required autocomplete="address-level2">-->
<!--        </label>-->

<!--        <label>-->
<!--            Postal code-->
<!--            <input type="text" name="postal_code" required autocomplete="postal-code">-->
<!--        </label>-->

<!--        <label>-->
<!--            Country-->
<!--            <select name="country" required autocomplete="country">-->
<!--                <option value="SK">Slovakia</option>-->
<!--                <option value="CZ">Czech Republic</option>-->
<!--            </select>-->
<!--        </label>-->

        <input
                type="hidden"
                name="pickup_point_id"
                id="pickup-point-id"
        >

        <input
                type="hidden"
                name="pickup_point_address"
                id="pickup-point-address"
        >

        <input
                type="hidden"
                name="cart"
                id="cart-data"
        >

        <button type="submit">Zaplatiť</button>
        <!--    TODO doplniť sem, že "budete presmerovaní na...-->
    </form>
    
<!--    <form id="checkout-form" action="{% url 'checkout' %}" method="post">-->
<!--        {% csrf_token %}-->

<!--        <input-->
<!--                type="email"-->
<!--                name="email"-->
<!--                placeholder="Your email"-->
<!--                required-->
<!--        >-->
<!--        <input type="hidden" name="cart" id="cart-data">-->
<!--        <input-->
<!--                type="hidden"-->
<!--                name="pickup_point_id"-->
<!--                id="pickup-point-id"-->
<!--        >-->

<!--        <button type="submit">Zaplatiť</button>-->
<!--    </form>-->

    
    <a href="{% url 'home' %}">Späť k nákupu</a>
</div>
{% endblock %}


{% block scripts %}
<script src="https://widget.packeta.com/www/js/library.js"></script>
<script src="{% static 'eshop/js/cart-page.js' %}"></script>
<script src="{% static 'eshop/js/packeta.js' %}"></script>
{% endblock %}

