{% extends 'eshop/base.html' %}
{% load static %}
{% block content %}

<div class="articles">
    <h1>Your cart</h1>
    <div id="cart"></div>
    
    <button class="packeta-selector-open" onclick="Packeta.Widget.pick(packetaApiKey, showSelectedPickupPoint, packetaOptions)">Select pick-up point</button>

    <div class="packeta-selector-value"></div>
    
    <form action="{% url 'checkout' %}" method="post">
        {% csrf_token %}

        <input
                type="email"
                name="email"
                placeholder="Your email"
                required
        >

        <button type="submit">Zaplatiť</button>
        <input
                type="hidden"
                name="pickup_point_id"
                id="pickup-point-id"
        >
    </form>
    <!--    TODO doplniť sem, že "budete presmerovaní na...-->

    
    <a href="{% url 'home' %}">Späť k nákupu</a>
</div>
{% endblock %}


{% block scripts %}
<script>
    const cart = JSON.parse(
        localStorage.getItem("cart") || "{}"
    );

    const productIds = Object.keys(cart);

    if (productIds.length === 0) {
        document.getElementById("cart").innerHTML = `
            <p>Your cart is empty.</p>
        `;
    } else {
        fetch("/cart/data/?ids=" + productIds.join(","))
            .then(response => response.json())
            .then(products => {
                const cartElement = document.getElementById("cart");

                let total = 0;

                products.forEach(product => {
                    const quantity = cart[product.id];
                    const itemTotal = product.price * quantity;

                    total += itemTotal;

                    cartElement.innerHTML += `
                        <div>
                            <h2>${product.name}</h2>
                            <p>
                                ${product.price} ${product.currency}
                                × ${quantity}
                            </p>
                            <p>
                                ${itemTotal.toFixed(2)}
                                ${product.currency}
                            </p>
                        </div>
                    `;
                });

                cartElement.innerHTML += `
                    <hr>
                    <h2>Total: ${total.toFixed(2)} EUR</h2>
                `;
            });
    }

</script>


<script>
// Packeta stuff
const packetaApiKey = '';

const packetaOptions = {
    country: "cz,sk",
    language: "sk",
    view: "modal",
    defaultCurrency: "EUR"
};

function showSelectedPickupPoint(point) {
    const saveElement = document.querySelector(".packeta-selector-value");
    // Add here an action on pickup point selection
    saveElement.innerText = point.name;
    
    if (point) {
        console.log("Selected point", point);
        document.getElementById("pickup-point-id").value =
            point.id;
    }
}
</script>
{% endblock %}

