{% extends 'eshop/base.html' %}
{% load static %}
{% block content %}

<div class="articles">
    <article id="sk-content" class="lang active">
    <h1>Pripravujem:</h1>
    <div class="images">
        <img src="{% static 'eshop/images/cover2.jpg' %}" alt="Book cover">
    </div>

    <p><b>Prísaha času</b></p>

    <p>
        Terese Carsonovej sa život nevyvíja podľa predstáv. Žije so
        strýkom a bratom v schátranom dome, hrozí jej vylúčenie zo
        školy a privyrába si ako pomocníčka v domácnosti miestneho
        podnikateľa.
    </p>

    <p>
        Keď dostane ponuku pracovať v Anglicku, zdá sa, že má
        konečne šancu všetko zmeniť. Na internáte spozná roman-
        tickú Lisu, záhadné sestry Kingsové a energického Jamesa.
    </p>

    <p>
        Počas jednej vyučovacej hodiny sa však všetko zvrtne.
        Po konflikte s profesorom James v panike využije svoju schop-
        nosť a prenesie ich v čase. Minulosť odhalí, že ich osudy sú
        prepletené oveľa viac, než si ktokoľvek z nich dokázal pred-
        staviť. Budúcnosť sa zrazu stáva neistou.
    </p>

    <p>
        Teresa musí splniť úlohu, ktorú jej zadal šéf, nájsť cestu domov
        a zabrániť tomu, aby James zničil samotnú realitu. Popri-
        tom však nechtiac odhalí tajomstvá, ktoré mali navždy zostať
        pochované v čase.
    </p>
</article>

    <article id="en-content" class="lang">
    <h1>Coming soon:</h1>
    <div class="images">
        <img src="{% static 'eshop/images/cover2.jpg' %}" alt="Book cover">
    </div>

    <p><b>The Crystal Bond 2</b></p>

    <p>
        Terese Carsonovej sa život nevyvíja podľa predstáv. Žije so
        strýkom a bratom v schátranom dome, hrozí jej vylúčenie zo
        školy a privyrába si ako pomocníčka v domácnosti miestneho
        podnikateľa.
    </p>

    <p>
        Keď dostane ponuku pracovať v Anglicku, zdá sa, že má
        konečne šancu všetko zmeniť. Na internáte spozná roman-
        tickú Lisu, záhadné sestry Kingsové a energického Jamesa.
    </p>

    <p>
        Počas jednej vyučovacej hodiny sa však všetko zvrtne.
        Po konflikte s profesorom James v panike využije svoju schop-
        nosť a prenesie ich v čase. Minulosť odhalí, že ich osudy sú
        prepletené oveľa viac, než si ktokoľvek z nich dokázal pred-
        staviť. Budúcnosť sa zrazu stáva neistou.
    </p>

    <p>
        Teresa musí splniť úlohu, ktorú jej zadal šéf, nájsť cestu domov
        a zabrániť tomu, aby James zničil samotnú realitu. Popri-
        tom však nechtiac odhalí tajomstvá, ktoré mali navždy zostať
        pochované v čase.
    </p>

    </article>
</div>

{% endblock %}