{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Silvia Kormosi</title>
    <link rel="icon" type="image/x-icon" href="favicon.png">
    <!-- TODO tieto dole treba vyplniť? -->
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'eshop/css/style.css' %}">

</head>

<body>

<header>
    <div class="header-container">
        <a href="https://www.silviakormosi.com" class="logo">Silvia Kormosi</a>

<!--        <div class="lang-switch">-->
<!--            <a id="sk" onclick="setLang('sk')">SK</a> |-->
<!--            <a id="en" onclick="setLang('en')">EN</a>-->
<!--        </div>-->
        <img src="{% static 'eshop/images/cart.svg' %}" alt="Cart" class="cart">
    </div>
</header>

<div class="container">

<!--    <nav id="sk-nav" class="lang active">-->
<!--      <ul>-->
<!--          <li><img src="chevron-double-right.svg" alt=">">E-shop</li>-->
<!--          <li>O mne</li>-->
<!--      </ul>-->
<!--    </nav>-->

<!--    <nav id="en-nav" class="lang">-->
<!--      <ul>-->
<!--          <li>About me</li>-->
<!--          <li><img src="chevron-double-right.svg" alt=">">Bookstore</li>-->
<!--      </ul>-->
<!--    </nav>-->

<!--    <section class="intro">-->
<!--        <img id="sk-content" class="lang active" src="tagline-sk.svg" alt="Young Adult & Urban Fantasy autorka">-->
<!--        <img id="en-content" class="lang" src="tagline-en.svg" alt="Young Adult & Urban Fantasy autorka">-->
<!--        <img src="profile_pic.png" alt="Silvia's photo">-->
<!--    </section>-->

<!--    <div class="separator">-->
<!--        <img src="separator2.svg" alt="-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;">-->
<!--    </div>-->

    <div class="articles">

        <article id="sk-content" class="lang active">
            <h1>{{ product.name }}</h1>

            <p>{{ product.description }}</p>

            <p>{{ product.price }} {{ product.currency }}</p>
            
<!--            <h1>Krištáľové Puto</h1>-->
<!--            <div class="images">-->
<!--                <img src="{% static 'eshop/images/cover.jpg' %}" alt="Book cover">-->
<!--            </div>-->

<!--            <p>-->
<!--                Sestry Ashley a Elizabeth verili, že ich po škole čaká pokojný život na predmestí Los Angeles.-->
<!--            </p>-->
<!--            <p>-->
<!--                Bohužiaľ, ich spolubývajúci James je časová anomália.-->
<!--                Vždy keď nad sebou stratí kontrolu, prenesie svojich blízkych aj cez pol planéty.-->
<!--            </p>-->
<!--            <p>-->
<!--                Keď sa Ashley ocitne uprostred zasnežených lesov a nevie, ako sa tam dostala, tuší, že v ich svete je toho inak oveľa viac, než sa zdá.-->
<!--                Aby toho nebolo málo, nový sused sa podozrivo zaujíma o Elizabeth, ktorá priťahuje čudákov ako magnet.-->
<!--            </p>-->
<!--            <p>-->
<!--                Keď sa ich dom stane terčom zlodeja, pravda sa už nedá ignorovať. James nie je jediný, kto má zvláštne schopnosti.-->
<!--            </p>-->
<!--            <p>-->
<!--                Podarí sa sestrám zistiť pravdu o sebe skôr, než toto tajomstvo niekto použije proti nim?-->
<!--            </p>-->
<!--            <p>-->

        </article>

<!--        <article id="en-content" class="lang">-->
<!--            <h1>The Crystal Bond</h1>-->
<!--            <div class="images">-->
<!--                <img src="{% static 'eshop/images/cover.jpg' %}" alt="Book cover">-->
<!--            </div>-->
<!--            <p>-->
<!--                When Elizabeth and Ashley Kings finished high-school, they thought only boring adult life awaited them.-->
<!--                Looking for jobs, starting a career, paying rent.-->
<!--            </p>-->
<!--            <p>-->
<!--                But that is impossible when James is their roommate because he is a traveler through space and time who has no control over his ability.-->
<!--                On his journeys, he unintentionally takes along anyone close to him who happens to be nearby.-->
<!--            </p>-->
<!--            <p>-->
<!--                As if that wasn't enough, a new neighbor on their street takes a suspicious interest in them, and the sisters begin to suspect that James isn't the only one with a special ability.-->
<!--                That creates problems, unexpected situations, and unwanted attention that could change their lives far more than they ever imagined.-->
<!--            </p>-->
<!--            <p>-->
<!--                For now, their peaceful life is on hold.-->
<!--            </p>-->
<!--        </article>-->

        <br>


        <div class="btncontainer">
            <!-- TODO pridať do tohto tlačidla obrázok košíka, ako majú na martinuse-->
<!--            <a href="https://www.martinus.sk/4100133-kristalove-puto/kniha" id="sk-content" class="call-to-action lang active">Vložiť do košíka</a>-->
<!--            <a href="https://www.martinus.sk/4100133-kristalove-puto/kniha" id="en-content" class="call-to-action lang">Add to shopping cart</a>-->
            <form action="{% url 'checkout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Buy now</button>
            </form>
            
        </div>


    </div>

<!--    <div class="separator">-->
<!--        <img src="separator2.svg" alt="-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;">-->
<!--    </div>-->

<!--    <footer>-->
<!--        <div class="footer_icons">-->
<!--            <a href="https://www.instagram.com/silvia.library/">-->
<!--                <img src="instagram.svg" alt="Instagram icon">-->
<!--            </a>-->

<!--            <a href="mailto:silviakormosi@gmail.com">-->
<!--                <img src="envelope.svg" alt="Envelope icon">-->
<!--            </a>-->
<!--        </div>-->

<!--        <p id="sk-content" class="copyright lang active">© Silvia Kormosi. Všetky práva vyhradené.</p>-->
<!--        <p id="en-content" class="copyright lang">© Silvia Kormosi. All rights reserved.</p>-->
<!--    </footer>-->

</div>

<script src="script.js"></script>

</body>

</html>